html {
    box-sizing: border-box;
    font-family: Bahnschrift, cursive;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: lightgray;
}

.wrapper {
    margin: 20px auto;
    width: 60vw;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
    padding: 10px;
}

.menu-container {
    flex: 3;
    background-color: lightgreen;
}

.main-content {
    background-color: whitesmoke;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 100%;
    flex: 6;
}

.task-list {
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main-content li {
    width: 95%;
    flex: 1;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-content h2 {
    letter-spacing: 2px;
    color: black;
    margin-left: 50px;
    font-family: Bahnschrift, cursive;
}

.main-content h2:after {
    content: "";
    display: block;
    height: 1px;
    width: 80%;
    background-color: cadetblue;
}

.add-task:hover {
    background-color: #edfbf3;
}


.add-task {

    background-color: whitesmoke;
    border-radius: 10px;
    padding: 2px 5px;
    border: 2px solid #5ad1ad;
}

.add-task a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px 5px 10px;

    svg {
        margin-right: 10px;
    }
}

.task {
    border: 1px solid orange;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

.task:hover {
    background-color: #ece5d2;
    cursor: pointer;
}

.task > * {
    flex: 1;
}

.task input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.task input[type='checkbox']:hover {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.task p {
    flex: 3;
    padding: 5px 10px;

}

.right-content {
    flex: 4;
    background-color: lightblue;
}

.menu-container a {
    text-decoration: none;
    color: black;
}

.menu-container {
    background-color: #f0f0f0e7;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.toggle-btn {
    align-self: center;
}

.toggle-btn > img {
    height: 32px;
    width: 32px;
}

.search {
    background-image: url("icons/search_24dp_00000_FILL0_wght400_GRAD0_opsz24.png");
    background-position: 0 2px;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: none;
    padding: 5px 0 5px 17px;
    width: 100%;
}

.list-header {
    font-weight: bold;
    font-size: small;
}

.menu-container ul {
    padding: 0;
    list-style: none;
}

.menu-container img {
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.menu-buttons {
    margin-top: 30px;
}

.tags-list {
    display: flex;
    justify-content: space-around;
}

.tags-list-item {
    background-color: aqua;
    border-radius: 5px;
    padding: 0;
}

.tags-list-item:nth-child(2n) {
    background-color: red;
}

.tags-list-item:nth-child(3n) {
    background-color: green;
}

.tags-item {
    padding: 10px 5px;
    color: white;
    font-size: small;
}

.task-details {
    height: 100%;
    background: rgba(211, 211, 211, 0.3);
    padding-left: 20px;
}

.task-details span {
    color: gray;
}

.task-info {
    padding-top: 30px;
}

.task-options {
    position: absolute;
    top: 185px;
    right: 400px;
}

.task-options span {
    color: black;
    padding-left: 20px;
    border: black solid 1px;
}

.subtasks {
    padding-top: 10px;
}

.add-tag {
    display: flex;
    height: 30px;
    align-items: center;
    width: 70px;
    justify-content: center;
    background: lightblue;
}

.add-tag:hover {
    border-radius: 10px;
    background: cornflowerblue;
}

.btn-save {
    width: 150px;
    height: 50px;
    border: black solid 1px;
}

.btn-cancel {
    display: flex;
    width: 130px;
    height: 50px;
    border: black solid 1px;
    padding: 20px;
}

.task-buttons {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
