html {
    box-sizing: border-box;

}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: lightgray;
}

.wrapper {
    margin: 20px auto;
    width: 60vw;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
    padding: 10px;
}

.menu-container {
    flex: 3;
    background-color: lightgreen;
}

.main-content {
    background-color: whitesmoke;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 100%;
    flex: 6;
}

.task-list{
    margin-bottom:10px;
    padding:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content li {
    width: 95%;
    flex: 1;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-content h1 {
    color: black;
    margin-left: 50px;
    font-family: Bahnschrift, cursive;
}

.main-content li:hover {
    background-color: #edfbf3;
}
.add-task {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    border: 2px solid #5ad1ad;
    /*box-shadow: 5px 5px 5px gray;*/
}

.add-task a {
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Bahnschrift, cursive;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px 5px 10px;
    /*background-color: gainsboro;*/
    svg{
        margin-right: 10px;
    }
.main-content{
    background-color: lightcoral;
}

.right-content {
    flex: 4;
    background-color: lightblue;
}

.menu-container a{
    text-decoration: none;
    color: black;
}

.menu-container{
    background-color: #f0f0f0e7;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}

.toggle-btn{
    align-self: center;
}


.toggle-btn > img{
        height: 32px;
        width: 32px;
}

.search{
    background-image: url("icons/search_24dp_00000_FILL0_wght400_GRAD0_opsz24.png");
    background-position: 0px 2px;
    background-size: 20px;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: none;
    padding: 5px 0px 5px 17px;
    width: 100%;
}


.list-header{
    font-weight: bold;
    font-size: small;
}

.menu-container ul{
    padding: 0;
    list-style: none;
}

.menu-container img{
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.menu-buttons{
    margin-top: 30px;
}

.tags-list{
    display: flex;
    justify-content: space-around;
}

.tags-list-item{
    background-color: aqua;
    border-radius: 5px;
    padding: 0;
}

.tags-list-item:nth-child(2n){
    background-color: red;
}

.tags-list-item:nth-child(3n){
    background-color: green;
}


.tags-item{
    padding: 10px 5px;
    color: white;
    font-size: small;
}


