html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    background-color: lightgray;
}
.wrapper{
    margin: 20px auto;
    width: 60vw;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
}
.wrapper > *{
    flex: 1;
}
.navigation{
    background-color: lightgreen;
}
.main-content{
    background-color: lightcoral;
}
.right-content{
    height: 100%;
    background: rgba(211, 211, 211, 0.3);
    padding-left: 20px;
}
.right-content span{
    color: gray;
}
.information{
    padding-top: 30px;
}
.column-2{
  position: absolute;
    top:185px;
    right:400px;
}
.column-2 span{
    color: black;
    padding-left: 20px;
}